/* * {
    margin: 0;
    padding: 0;
} */
p {
    font-style: italic;
    font-size: 25px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.time {
    color: brown;
}
li {
   
    font-size: 30px;
}

.tabel-time {
    margin-left: 50px;
   
}
ul {
    padding: 0;
    list-style: none;
}
/* ---------------------------------- */

ul {
    padding: 0;
    list-style: none;
}

.menu>.menu-item {
    display: inline-block;
    vertical-align: top;
    opacity: 1;
}

.sub-menu .menu-item {
    opacity: 0;
    margin-left: 100px;
}

.menu-item:hover .menu-item {
    opacity: 1;
}